<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Charles Babbage</title>
</head>

<body>
    <main>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Contacto">Contacto</a></li>
                <li><a href="/Nosotros">Nosotros</a></li>   
                <li><a href="/Lovelace">Ada Lovelace</a></li> 
                <li><a href="/Turing">Alan Turing</a></li>        
                <li><a href="/Babbage">Charles Babbage</a></li>
                <li><a href="/Hopper">Grace Murray Hopper </a></li>     
                <li><a href="/Clarke">Joan Clarke</a></li>  
                <li><a href="/Hamilton">Margaret Hamilton</a></li>                                               
                <li><a href="/Berners">Tim Berners-Lee</a></li>                     
            </ul>
        </nav>
    
        <div>
            <img src="/img/babbage.jpg" alt="">
        </div>   
               
        <div>
            <h2>Charles Babbage (Teignmouth, 1792 - Londres, 1871)</h2>
        </div>    
    
        <section>
            <article>
                <p> <strong>Charles Babbage</strong>  fue un matemático y científico de la computación británico. Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, (pero nunca construyó), la analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se le considera como "El Padre de la computación". En el Museo de Ciencias de Londres se exhiben partes de sus mecanismos inconclusos. Parte de su cerebro conservado en formol se exhibe en el Royal College of Surgeons of England.</p>
            </article>        
        </section>
    </main>
    
</body>
</html>