<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Tim Berners-Lee</title>
</head>

<body>
    <main>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Contacto">Contacto</a></li>
                <li><a href="/Nosotros">Nosotros</a></li>   
                <li><a href="/Lovelace">Ada Lovelace</a></li> 
                <li><a href="/Turing">Alan Turing</a></li>        
                <li><a href="/Babbage">Charles Babbage</a></li>
                <li><a href="/Hopper">Grace Murray Hopper </a></li>     
                <li><a href="/Clarke">Joan Clarke</a></li>  
                <li><a href="/Hamilton">Margaret Hamilton</a></li>                                               
                <li><a href="/Berners">Tim Berners-Lee</a></li>                     
            </ul>
        </nav>
    
        <div>
            <img src="/img/berners.jpeg" alt="">
        </div>   
               
        <div>
            <h2>Timothy "Tim" Berners-Lee (Londres, Reino Unido, 8 de junio de 1955)</h2>
        </div>    
    
        <section>
            <article>
                <p><strong>Tim Berners-Lee</strong> es un científico británico de la computación, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet.
                </p>
            </article>        
        </section>
    </main>
    
</body>
</html>