<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Contacto</title>
</head>
<body>
    <h1>Contacto</h1>
    <div>
        <img src="/img/c8babb6bed9f0a0d72c154c66a36f2ed04ce9b20fb8e9254fb0bcf3f4ca4a1a3.jpg" alt="">
    </div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Contacto">Contacto</a></li>
        <li><a href="/Nosotros">Nosotros</a></li>   
        <li><a href="/Lovelace">Ada Lovelace</a></li> 
        <li><a href="/Turing">Alan Turing</a></li>        
        <li><a href="/Babbage">Charles Babbage</a></li>
        <li><a href="/Hopper">Grace Murray Hopper </a></li>     
        <li><a href="/Clarke">Joan Clarke</a></li>  
        <li><a href="/Hamilton">Margaret Hamilton</a></li>                                               
        <li><a href="/Berners">Tim Berners-Lee</a></li>                     
    </ul>
    
    
</body>
</html>
