<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Margaret Hamilton</title>
</head>

<body>
    <main>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Contacto">Contacto</a></li>
                <li><a href="/Nosotros">Nosotros</a></li>   
                <li><a href="/Lovelace">Ada Lovelace</a></li> 
                <li><a href="/Turing">Alan Turing</a></li>        
                <li><a href="/Babbage">Charles Babbage</a></li>
                <li><a href="/Hopper">Grace Murray Hopper </a></li>     
                <li><a href="/Clarke">Joan Clarke</a></li>  
                <li><a href="/Hamilton">Margaret Hamilton</a></li>                                               
                <li><a href="/Berners">Tim Berners-Lee</a></li>                     
            </ul>
        </nav>
    
        <div>
            <img src="img/hamilton.jpg" alt="">
        </div>   
               
        <div>
            <h2>Margaret Hamilton (Indiana, Estados Unidos, 17 de agosto de 1936)</h2>
        </div>    
    
        <section>
            <article>
                <p> <strong>Margaret Hamilton</strong> es una científica computacional, matemática e ingeniera de Software. Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT,donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo.En 1986, se convirtió en la fundadora y CEO de Hamilton Technologies, Inc. en Cambridge, Massachusetts. La compañía se desarrolló alrededor del lenguaje universal de sistemas basada en su paradigma de "desarrollo antes del hecho" (DBTF, del inglés Development Before the Fact) para sistemas de diseño de software.Acuñó el término «ingeniería de software» para distinguir entre el trabajo de hardware y otras ingenierías.    
                </p>
            </article>        
        </section>
    </main>
    
</body>
</html>