<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>
<body>
        <nav>
                <br>
                    <h1>¡Bienvenido al sitio de los héroes informáticos!</h1> 
                </br>            
            <div>
                <img class="heroe" src="/img/17192518_1308425245916903_7040915786429056252_o.png" alt="">  
            </div>
            <div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/Contacto">Contacto</a></li>
                    <li><a href="/Nosotros">Nosotros</a></li>   
                    <li><a href="/Lovelace">Ada Lovelace</a></li> 
                    <li><a href="/Turing">Alan Turing</a></li>        
                    <li><a href="/Babbage">Charles Babbage</a></li>
                    <li><a href="/Hopper">Grace Murray Hopper </a></li>     
                    <li><a href="/Clarke">Joan Clarke</a></li>  
                    <li><a href="/Hamilton">Margaret Hamilton</a></li>                                               
                    <li><a href="/Berners">Tim Berners-Lee</a></li>                     
                </ul>
            </div>                
        </nav>
</body>
</html>